<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>

    <script>
      //console.log("The transaction response object: ", JSON.parse('{{{transactionResponse}}}'));
    </script>
    <div>
      <div class="jumbotron jumbotron-fluid" style="background-color: rgba(156, 29, 29, 0);">
        <div class="container">
          <h1 class="display-4" style="color: #E66C2C;">
            Thanks, 
            {{#if transactionResponse.transaction.customer.firstName}}
              {{transactionResponse.transaction.customer.firstName}}
            {{else}}
              {{transactionResponse.subscription.transactions[0].customer.firstName}}
            {{/if}}!
          </h1>
          <p class="lead subtitle" style="color: #E66C2C;">
            Your payment was successful! We'll send you a confirmation email at 
            {{#if transactionResponse.transaction.customer.email}}
              {{transactionResponse.transaction.customer.email}}
            {{else}}
              {{transactionResponse.subscription.transactions[0].customer.email}}
            {{/if}}.
          </p>
          <p class="lead subtitle" style="color: #E66C2C;">Be on the lookout for your package within 3-5 business days!</p>
        </div>
        <div class = "pumpkinDanceStyle"></div>
      </div>
    </div>  
  </body>
</html>